<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="roupas e estilo" />
  <meta name="keywords" content="roupas,estilo,barato sobre, brecho" />
  <meta name="author" content="João pedro Saldinha" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>sobre-brechodoxuru</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon" />

  <!-- Icone FonteAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="../src/css/style.css" />
</head>

<body>
  <header id="header">
    <div class="container">
      <figure class="logo">
        <a href="../index.html">
          <img src="../assets/img/logo.png" style="width: 100px; height: auto; border-radius: 100%"
            alt="Logo do site" />
        </a>
        <figcaption>Brecho do Xuru</figcaption>
      </figure>
      <nav class="navigation">
        <div class="links">
          <ul>
            <li><a href="../index.html">Início</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
            <li><a href="./contato.html">Contato</a></li>
            <li>
              <a href="https://wa.me/5521990089855?text=Ol%C3%A1%2C%20estou%20interessado!" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                Entre em contato
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <section class="title">
        <h1>Brecho do Xuru</h1>
        <h2>Somos um Brechó com foco em roupas streetwear, y2k</h2>
      </section>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="sobre">
        
      </section>
    </div>
  </main>

  <footer id="footer">
    <p>&copy; 2026 Brechó do xuru - Todos os direitos reservados.</p>
  </footer>
</body>

</html>